.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.home > .image {
  height: 40%;
  margin: 35px;
}

.home > .title {
  font-size: 40px;
}

.home > .sub-title {
  margin-top: 7.5px;
  font-size: 20px;
  text-align: center;
  font-weight: 300;
}

.home > .features {
  font-size: 15px;
}

.home > .drop {
  margin-top: 40px;
  text-decoration: none;
  color: black;
  width: 100px;
  height: 40px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in;
}

.home > .drop:hover {
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
}

.home > .drop h1 {
  font-weight: 300;
}
